@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1d5db;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1d5db;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* embla corousel css */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

